<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rajarao</title>
    <link rel="stylesheet" href="/css/new.css" />
  </head>
  <body>
    <div class="wrap">
      <h1>Para ti 💖</h1>
      <div class="postcard1"></div>
      <div class="postcard">
        <div class="letter"></div>
        <p>
          <span>Querida Alexa</span>
          <br />
          Hoy quiero tomarme un momento para escribirte y expresar todo lo que siento. A veces, la vida nos pone a kilómetros de distancia de las personas más especiales, pero eso no impide que se conviertan en parte importante de nuestro mundo. Y tú, sin duda, te has convertido en alguien muy valioso para mí.

Valoro muchísimo cada conversación que tenemos, aunque no hablemos siempre. Sé que estás ocupada y que la vida a veces no nos da tiempo para todo, pero cada palabra, cada momento compartido, significa mucho para mí. Me alegra poder hablar contigo, conocerte poco a poco y aprender de ti. <br> Tambien perdon si aveces te llego a molestar esque me interesa todo de ti 🐻‍❄️
           <br />
         
        </p>
        <div class="address">
         
        </div>
      </div>
    </div>

    <footer>

    </footer>
  </body>
</html>
